<form class="new-card-form">
  <input
    type="text"
    class="card-form"
    id="card-title"
    name="card[title]"
    placeholder="Card title">
  <input
    type="text"
    class="card-form"
    id="card-title"
    name="card[description]"
    placeholder="Card description">
  <input
    type="hidden"
    class="card-form"
    name="card[list_id]"
    value="<%= this.collection.list.id %>">

  <button type="submit" class="add-card-button">Add a card</button>
</form>
