<form class="form-inline">
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      id="board-title"
      name="title"
      placeholder="My new board">

  </div>

  <button type="submit" class="btn btn-default">Create new board!</button>
</form>
