<ul class="list-group">
  <% boards.each(function(board) { %>
    <a href="#/<%= board.id %>" class="list-group-item">
      <%= board.escape("title") %>
    </a>
  <% }) %>
</ul>

<a href="#/new">Create a new board</a>
