<ul class="group-list clearfix">
  <lh class="group-list-header">Your boards</lh>
  <% boards.each(function(board) { %>
    <li>
      <a href="#/<%= board.id %>" class="list-group-item">
        <%= board.escape("title") %>
      </a>
    </li>
  <% }) %>
</ul>


<section id="new-board-form"></section>
