<h1>
  <%= board.escape("title") %>
</h1>

<ul class="list-group clearfix lists-container">
</ul>


<br>

<a href="#/<%= board.id %>/lists/new">Add list</a>
<form class="new-card">


<button class="btn btn-default delete-board">Delete board</button>

<div class="new-list"></div>
