<h1>
  <%= board.escape("title") %>
</h1>

<ul class="list-group">
</ul>


<br>

<a href="#/<%= board.id %>/lists/new">Add list</a>

<button class="btn btn-default delete-board">Delete board</button>

<div class="new-list"></div>
