/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui
 *= require_tree .
 */

// css reset

html, body, div, li, a, ul, p, h1, h2, h3, h4, h5, nav {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

body {
  font-family: sans-serif;
}

li {
  list-style-type: none;
}

// utilities

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

//styling

//header
.header {
  background: black;
  font: 20px sans-serif;
  position: relative;
  color: white;
  opacity: .6;

}

.top-bar {
  display: block;
  margin: auto;
  border: 1px solid white;
  position: relative;
}

.right-links {
  float: right;
  position: absolute;
  right: 0;
  bottom: 0;
}

.right-links li {
  float: left;
  display: block;
  padding: 10px;

}

.home-link {
  display: block;
  padding: 10px;
  margin: auto;
  width: 100px;
  text-align: center;
}


//main

#main {
  display: block;
  margin: auto;
  margin: 5px;
}

//landing page
.group-list {
  color: black;
}

.group-list-header {
  font-weight: bold;
  font-size: 36px;
  display: block;

}
.group-list li > a{
  background: blue;
  color: white;
  opacity: .7;
  width: 300px;
  margin: 10px;
  padding: 20px;
  float: left;
  border-radius: 5px;
}







.list-item {
  float: left;
}

.card-item {
  border: 1px solid black;
  padding: 20px;
}

.card-item:hover button {
  display: block;
}

.card-group:hover {
  background: #FFFFCC;
}

.delete-card {
  font-size: 14px;
  position: absolute;
  display: none;
}

.card-desc {
  font: 14px sans-serif;
}

.cards-container {
  min-height: 100px;
}
