<h3><%= list.escape("title") %></h3>

<ul class="list-group cards-container clearfix"></ul>

<section class="new-card">

</section>


<a class="add-board-link list-links" href="#<%= list.get('board_id') + '/lists/' + list.id + '/cards/new' %>">Add a card...</a>

<a class="delete-list list-links" href="javascript:;">X</a>
